[Desktop Entry]
Version=1.0.2
Name=SHJZapPro
Exec=zaproxy
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Comment=SHJZapPro is an open-source web application security scanner
Keywords=network;scan;scanner;web;security;zed;attack;proxy;
